@import url(reset.css);

.header {
    width: auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-size: 50;
    padding-top: 170px;
    padding-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

#one {
    font-size: 74;
}
#onee {
    font-size: 97;
    margin-bottom: 20px;
}
#two_t {
    margin-top: 30px;
}
#twoo {
    font-size: 43px;
}
.header_text {
    text-align: center;
}
.content {
    margin: 70 30;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;

}
.letter {
    font-family: 'Nanum Myeongjo', serif;
    line-height: 25px;
    background-color: white;
}
.content_1 {
    margin: 170 30;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#CHU_12 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
#CHU {
    padding-top: 170px;
    text-align: center;
    font-size: 97;
}
.box {
    width: 110px;
    height: 110px;
    margin: 50px auto 120px;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    font-size: 20px;
    font-family: 'Poor Story', cursive;
    animation: pulse 2s infinite;
    text-decoration: none;

}
.hv {
    font-family: 'Poor Story', cursive;

}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
@keyframes pulse {
	0% {
        box-shadow: 0px 0px 0px 0px rgba(22, 1, 1, 0.7);
        border: solid 0.1px black;

	}



	100% {
        box-shadow: 0 0 15px 15px rgba(22, 1, 1, 0.0);
        border: solid 0.1px black;
    }
    
}
#imgg {
    margin: 0 auto 150px;
    background-image: url(./img/pic.jpg);
    width: 330px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
#imggg {
    margin: 0 auto 150px;
    background-image: url(./img/hokan.jpg);
    width: 330px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}
#imgggg {
    margin: 0 auto 150px;
    background-image: url(./img/sit.jpg);
    width: 330px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 125px;
}
#imggggg {
    margin: 0 auto 150px;
    background-image: url(./img/wine.jpg);
    width: 330px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 0px;
}
#imgggggk {
    margin: 0 auto 150px;
    background-image: url(./img/in.jpg);
    width: 330px;
    height: 500px;
    background-size: cover;
    padding: 0;
    margin-top: 0px;
}



.loading{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
    animation: loading 2s forwards;
    animation-delay: 2s;
}
.l_test {
    font-size: 40px;
}
.l2_test {
    font-size: 80px;

}
@keyframes loading {
	0% {

	}
    90% {
        filter: blur(0);

	}
    99% {
        z-index: -100;
        filter: blur(25px);
        background:none;
        color: rgba(255, 255, 255, 0);

	}
	100% {
        z-index: -100;
        filter: blur(25px);
        background:none;
        color: rgba(255, 255, 255, 0);
    }
}

